#root {
  margin: 0 auto;
  text-align: center;
  
}

.singleContainer {
border:solid red;
width:400px;
height: 600px;
margin:15px;
padding:25px;
}

.oneCard {
  border:solid rgb(233, 247, 43);
  width: 385px;
  height: 575px;
}

.carousel-container {
  border: solid 1px rgb(189, 189, 189);
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  box-shadow: 10px 5px 5px rgba(49, 41, 41, 0.514);
  width: 80vw;
  min-width: 600px;
  min-height: 600px;
  padding: 15px;
  margin: 25px;
}

.carousel {
  width: 50%;
  height: 600px;
  margin:50px;
  padding: 50px;
}

.carousel-inner {
  width: 100%;
  height: 100%;
}

.carousel-item {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s;
  align-content: center;
}

.carousel-item.active {
  opacity: 1;
}

.carousel-caption-container {
  width: 50%;
  margin:50px;
  padding: 50px;
  background-color: rgba(27, 20, 11, 0.685);
  border-radius: 15px;
  color: #fff;
}



.carousel-control-prev-icon,
.carousel-control-next-icon {
  font-size: 24px;
  background-color: #ff0000;
  cursor: pointer;
}

.descriptionTitles {
  font-weight: bold;
}

.fullDeckIntro {
  border: solid 1px rgb(189, 189, 189);
  background-color: white;
  border-radius: 15px;
  align-items: center;
  align-content: center;
  box-shadow: 10px 5px 5px rgba(49, 41, 41, 0.514);
  width: 80vw;
  padding: 15px;
  margin: 25px;
}

.navbarContainer {
  display: flex;
  justify-content:space-between;
  background-color: white;
  box-shadow: 10px 5px 5px rgba(49, 41, 41, 0.514);
  width: 100%;
  align-items: center;
  border-radius: 15px;
  margin: 5px;
  padding: 5px;
}

.leftnav {
  display: flex;
  justify-content:space-between;
  align-items: center;
  align-content: center;
  margin:25px;
  padding: 25px;
}

.rightnav {
 background-image: url();
  margin:25px;
  padding: 25px;
}
.navItem {
  border-left: solid 1px rgba(49, 41, 41, 0.514);
  border-right: solid 1px rgba(49, 41, 41, 0.514);
  background-color: rgba(202, 199, 174, 0.164);
  width: 200px;
  height: 50px;
  padding: 5px;
  align-items: center;
  align-content: center;
  font-weight: 500;
  color:black;
  text-decoration: none;
}

.navItem:hover {
background-color: rgba(235, 207, 84, 0.212);
cursor: pointer;
}

.logo {
  width: 300px;
}



.drawBtn {
  border: solid 1px rgba(49, 41, 41, 0.514);
  background-color: rgba(202, 199, 174, 0.164);
  border-radius: 8px;
  width: 200px;
  height: 50px;
  padding: 5px;
  align-content: center;
  font-weight: 500;
  color:black;
  text-decoration: none;
}

.drawBtn:hover {
  background-color: rgba(235, 207, 84, 0.212);
  cursor: pointer;
}

.oneCardIntro {
  border: solid 1px rgb(189, 189, 189);
  background-color: white;
  border-radius: 15px;
  align-items: center;
  align-content: center;
  box-shadow: 10px 5px 5px rgba(49, 41, 41, 0.514);
  width: 80vw;
  padding: 50px;
  margin: 25px;
}

.threeCardContainer {
  border: solid 1px rgb(189, 189, 189);
  background-color: white;
  border-radius: 15px;
  /* align-items: center; */
  box-shadow: 10px 5px 5px rgba(49, 41, 41, 0.514);
  width: 80vw;
  min-width: 600px;
  min-height: 600px;
  padding: 15px;
  margin: 25px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.threeCardIntro {
  border: solid 1px rgb(189, 189, 189);
  background-color: white;
  border-radius: 15px;
  align-items: center;
  align-content: center;
  box-shadow: 10px 5px 5px rgba(49, 41, 41, 0.514);
  width: 80vw;
  padding: 50px;
  margin: 25px;
}

.cardContainer {
width: 500px;
min-height: 800px;
padding: 25px;
}

.descriptionContainer {
  width: 95%;
  margin:10px;
  padding: 50px;
  background-color: rgba(27, 20, 11, 0.685);
  border-radius: 15px;
  color: #fff;
}
.singledescriptionContainer {
  width: 50%;
  margin: 10px;
  padding: 50px;
  background-color: rgba(27, 20, 11, 0.685);
  border-radius: 15px;
  color: #fff;
}

.cardName {
  flex-wrap: wrap;
  margin: 15px;
}
.push {
  display:flex;
  justify-content:inherit;
  flex-wrap: wrap;
  flex-direction: column;
}
.oneCardContainer {
  background-color: white;
  border-radius: 15px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-shadow: 10px 5px 5px rgba(49, 41, 41, 0.514);
  width: 80vw;
  min-width: 600px;
  min-height: 600px;
  padding: 15px;
  margin: 15px;
}

.flexer {
  display:flex;
  justify-content: space-evenly;
  margin:15px;
}

.readingsIntro {
  border: solid 1px rgb(189, 189, 189);
  background-color: white;
  border-radius: 15px;
  display:flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  box-shadow: 10px 5px 5px rgba(49, 41, 41, 0.514);
  width: 80vw;
  padding: 15px;
  margin: 25px;
}

.learnMoreText {
  border: solid 1px rgb(189, 189, 189);
  background-color: white;
  border-radius: 15px;
  align-items: center;
  align-content: center;
  box-shadow: 10px 5px 5px rgba(49, 41, 41, 0.514);
  width: 80vw;
  padding: 50px;
  margin: 25px;
}

.learningContainer {
  background-color: white;
  width: 60%;
  margin: 0 auto;
}

.boxedul {
  border: solid 1px rgb(189, 189, 189);
  width: 50%;
  margin:25px auto;
  align-self: center;
  text-align: left;
}

.homeIntro {
  border: solid 1px rgb(189, 189, 189);
  background-color: white;
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 15px;
  align-items: center;
  align-content: center;
  box-shadow: 10px 5px 5px rgba(49, 41, 41, 0.514);
  width: 80vw;
  padding: 15px;
  margin: 0 auto;
}